$seachUpper_H: 36px;
$seachBox_H: 50px;
$searchResult_H: 40px;
$searchLower_H: 24px;
$icon_H:(0.52*$seachBox_H);
$floaterImg_H: 30px;
$icon_small_H:20px;
$seachBox_L: 90%;
$text_dark: #222;
$text_med: #666;
$text_light: #ccc;
$picMarTop: 20px;
$floaterH: 90px;
$contentPadLeft:20px;
$colorYellow: #ffd110;
$colorBlue: #3989ed;
$text_small: 13px;
$text_regular: 16px;

$overSized: 65%;


h1{
	color: #fff;
	padding: 0;
	margin: 0;
}

.fontZihun{
	font-family: zihun;
	letter-spacing: -3px;
	font-size: 45px;
}

/*.text_title{
	font-size: 44px;
}*/

.text_small{
	font-size: $text_small;
}

.text_regular{
	font-size: $text_regular;
}

/*.alignLeft{
	text-align: left;
}

.alignRight{
	text-align: right;
}

.alignMed{
	text-align: center;
}*/

.green{
	color: #2B9E7D !important;
}

.red{
	color: red !important;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    $text_light;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    $text_light;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    $text_light;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    $text_light;
}

.line{
	border-top: 1px solid #eee;
}

#wrapper{
	width: 100%;
	background-color: #fff;
}

#searchUpper{
	width: 100%;
	height: $seachUpper_H;
	text-align: center;
	overflow: hidden;
}

#upperWraper{
	display: inline-block;
	position: relative;
	width: $seachBox_L;
	height: 100%;
}

#phaseA{
	height: 100%;
	width: 100%;
	/*background-color: red;*/
}

#phaseB{
	height: 100%;
	width: 100%;
	/*background-color: blue;*/
}

#phaseB img{
	position: absolute;
	font-size: 0;
	left: $icon_small_H;
	top: 0;
	width: $icon_small_H;
	height: $icon_small_H;
	margin-top: ($seachUpper_H - $icon_small_H)/2;
	transform: rotate(180deg);
	/*background-color: green;*/
}

#textWrapper{
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	/*transition: opacity 3s;*/
	/*background-color: purple;*/
}

#phaseB p{
	color: $text_dark;
	/*position: absolute;*/
}



#searchSection{
	text-align: center;
	padding-bottom: $picMarTop;
}

#searchBox{
	display: inline-block;
	width: $seachBox_L;
  	height: $seachBox_H;
  	border:1px solid #333;
  	border-radius: 5px;
}

#searchTitle{
	float: left;
	overflow: hidden;
	/*background-color: blue;*/
}

.leftBox{
	float: left;
	width: 20%;
	height: 100%;
	text-align: center;
}

.medBox{
	float: left;
	width: 80%;
	height: 100%;
	overflow: hidden;
}

.rightBox{
	width: 0%;
	height: 100%;
	overflow: hidden;
	float: left;
	/*background-color: blue;*/
}

#titleWrapper{
	width: 100%;
	/*transition: 1s;*/
}

.titleContent{
	width: 100%;
	height: $icon_H;
	padding-top: ($seachBox_H - $icon_H) / 2;
	padding-bottom: ($seachBox_H - $icon_H) / 2;
	/*text-align: center;*/
	/*border: 1px solid #777;*/
	/*background-color: purple;*/
}

.titleContent img{
	display: inline-block;
	width: $icon_H;
	height: $icon_H;
	/*background-color: purple;*/
	/*border: 1px solid red;*/
}

#searchSection form{
	position: relative;
 	/*background-color: red;*/
 	padding: 0px;
 	margin: 0px;
}

#myCursor{
	position: absolute;
	opacity: 1;
	left: 0;
	top: 0;
	width: 3px;
	height: $icon_small_H;
	margin-top: ($seachBox_H - $icon_small_H)/2;
	margin-left: $contentPadLeft;
	background-color: $colorYellow;
	transition: background-color 0.3s;
	-webkit-transition: background-color 0.3s;
/*	-webkit-backface-visibility: hidden; 
	-webkit-transform-style: preserve-3d;*/
/*	animation: myBlink 3s infinite;
	-webkit-animation: myBlink 3s infinite;

	@keyframes myBlink {
	    0% {
	        opacity: 0;
	    }
		20% {
			opacity:100;
		}
	    60% {
	        opacity: 100;
	    }
	    80% {
	    	opacity: 0;
	    }
	}

	@-webkit-keyframes myBlink {
	    0% {
	        opacity: 0;
	    }
		20% {
			opacity:100;
		}
	    60% {
	        opacity: 100;
	    }
	    80% {
	    	opacity: 0;
	    }
	}*/
}


#searchSection input{
	margin: 0px;
	padding: 0;
	padding-left: $contentPadLeft;
	float: left;
	background-color:transparent;
  	-webkit-appearance:none;
  	height: $seachBox_H;
  	width: 100%;
  	border:none;
}

#searchResult{
	width: 100%;
	text-align: center;
}

.leftBoxS{
	float: left;
	width: 15%;
	height: 100%;
	text-align: center;
}

.medBoxS{
	float: left;
	width: 65%;
	padding-right: 5%;
	height: 100%;
	overflow: hidden;
}

.rightBoxS{
	width: 15%;
	height: 100%;
	float: left;
	/*background-color: blue;*/
}

.resultWrapper{
	display: inline-block;
	border-bottom: 1px solid #eee;
	width: $seachBox_L;
	height: $searchResult_H;
	overflow: hidden;
}

#searchResult p{
	padding: 0;
	padding-left: $contentPadLeft;
	padding-top: 9px;
	margin: 0;
	text-align: left;
	color: $text_med;
}

.rightBox p{
	width: 100%;
	min-width: 35px;
	padding: 0;
	padding-top: 14px;
	margin: 0;
	text-align: center;
	color: $text_med;
}


.resultImgL{
	width: $icon_H;
	height: $icon_H;
	padding-top: ($searchResult_H - $icon_H - 4px) / 2;
	display: inline-block;
}

.resultImgR{
	width: $icon_small_H;
	height: $icon_small_H;
	padding-top: ($searchResult_H - $icon_small_H + 6px) / 2;
	display: inline-block;
}


#floaterPosition{
	position: relative;
	/*margin-top:-100px;*/
	width: 100%;
	height: 0px;
	background-color: red;
}

#floater{
	float: right;
	margin-top: -60px;
	height: $floaterH;
	width: $floaterH;
	border-radius: $floaterH 0px 0 $floaterH;
	background-color: #777;
}

#floaterImg{
	float: left;
	width: $floaterImg_H;
	height: $floaterImg_H;
	margin-top: ($floaterH - $floaterImg_H)/2;
	margin-left: 10px;
	/*background-color: red;*/
}

#floaterImg img{
	width: 100%;
	height: 100%;
	transform: rotate(270deg);
}

#floaterText{
	float: left;
	width: $floaterH - $floaterImg_H - 10px;
	height: 100%;
	/*background-color: pink;*/
	text-align: center;
}

#floaterText p{
	display: inline-block;
	color: #fff;
	margin: 0;
	margin-top: 16px;
	padding: 0px;
	width: 30px;
}

#searchLower{
	width: 100%;
	height: $searchLower_H;
	overflow: hidden;
	/*background-color: green;*/
}

#lowerWrapper{
	width: 100%;
	margin-top: - $searchLower_H;
}

.lowerContentWraper{
	height: $searchLower_H;
	width: 100%;
	/*background-color: red;*/
}

#lowerWrapper p{

	/*height: $searchLower_H;*/
	margin: 0px;
}


.lowerContentWraper:last-child p{
	color: $text_light;
	padding: 0;
	display: inline-block;
	width: $seachBox_L;
	text-align: left;
}

/*.lowerContentWraper:first-child{
	box-sizing: border-box;
	border-bottom: 1px solid #eee;
}*/

.lowerContentWraper:first-child p{
	color: $text_med;
	padding: 0;
	padding-top: 2px;
}

#content{
	width: 100%;
	height: auto;
	/*height: 2000px;*/
	/*background-color: #333;*/
}

.foodSection{
	margin-top: 20px;
	border-top: 1px solid $text_med;
	@media screen and (-webkit-min-device-pixel-ratio: 2) {
	    border-top-width: 0.5px;
	}
	@media screen and (-webkit-min-device-pixel-ratio: 3) {
	    border-top-width: 0.333333px;
	}
}

.clear{
	clear: both;
}




.contentLeft{
	float: left;
	width: 23%;
	height: auto;
	/*background-color: purple;*/
}

.contentLeftWrapper{
	margin-top: - $picMarTop;
	margin-left: - $overSized;
	width: 100% + $overSized;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	box-sizing: border-box;
	border: 1px solid $text_light;
	@media screen and (-webkit-min-device-pixel-ratio: 2) {
	    border-top-width: 0.5px;
	}
	@media screen and (-webkit-min-device-pixel-ratio: 3) {
	    border-top-width: 0.333333px;
	}
	overflow: hidden;
	height: auto;
}

.leftImgWrapper{
	position: relative;
	width: 100%;
	height: 0px;
	padding-top: 100%;
}

.contentLeft img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.contentRight{
	float: left;
	width: 77%;
	/*height: 400px;*/
	/*background-color: green;*/
}

.rightInner{
	margin-top: 10px;
	margin-left: $contentPadLeft;
	width: -webkit-calc(100% - $contentPadLeft);
	width: -moz-calc(100% - $contentPadLeft);
	width: calc(100% - $contentPadLeft);
	/*height: 500px;*/
	/*background-color: pink;*/
}

.rightInner .title_small{
	/*font-size: 25px;*/
	color: $text_light;
	margin: 0;
	padding: 0;
	padding-left: 3px;
}

.rightInner h1{
	margin: 0;
	margin-left: -4px;
	margin-top: -5px;
	margin-bottom: 20px;
	padding: 0;
	color: $text_dark;
}

.rightInner h2{
	margin: 0;
	margin-top: 30px;
	margin-bottom: 6px;
	padding: 0;
	font-weight: bold;
	color: $text_dark;
}

#content table{
	border-collapse: collapse;
	border-spacing: 0px;
	width: 100%;
	border: none;
	/*background-color: red;*/
}

.units{
	color: #999;
	font-weight: normal;
	font-size: 10px;
}

#content th{
	color: $text_light;
	font-weight: normal;
}

#content td{
	color: $text_med;
	padding: 8px 0 8px 0;
}


#content tr{
	border-bottom: 1px solid #eee;
	@media screen and (-webkit-min-device-pixel-ratio: 2) {
	    border-bottom: 1px solid #eee;
	}
	@media screen and (-webkit-min-device-pixel-ratio: 3) {
	    border-bottom: 0.7px solid #eee;
	}
}



.col_1{
	width: 50%;
	/*padding-right: 5%;*/
	text-align: left;
	/*background-color: blue;*/
}

.col_2{
	width: 35%;
	text-align: center;
	font-weight: bold;
	/*background-color: green;*/
}

.col_3{
	width: 15%;
	text-align: center;
	/*background-color: purple;*/
}

.showmore{
	color: $colorBlue;
	/*font-weight: bold;*/
	float: left;
	height: 50px;
	width: 100%;
	overflow: hidden;
	/*background-color: pink;*/
	text-align: center;
}

.showless{
	color: $colorBlue;
	/*font-weight: bold;*/
	float: left;
	margin-top: 0px;
	height: 0px;
	width: 100%;
	overflow: hidden;
	text-align: center;
}

.showless img{
	display: inline-block;
	width: $icon_H;
	height: $icon_H;
	margin-bottom: 20px;
}

.showless .borderBot{
/*	width: 100%;
	border-bottom: 1px solid $colorBlue;
	@media screen and (-webkit-min-device-pixel-ratio: 2) {
	    border-bottom-width: 0.5px;
	}
	@media screen and (-webkit-min-device-pixel-ratio: 3) {
	    border-bottom-width: 0.333333px;
	}*/
}

.hiddingtbs{
	float: left;
	width: 100%;
	height: auto;
	display: none;
	opacity: 0;
	/*background-color: purple;*/
	/*overflow: hidden;*/
}

i{
	font-size: 50px;
}

/*#testLen{
	width: 23%;
	height: 50px;
	background-color: pink;
}*/
div.footer{
	float: left;
	width: 100%;
	height: 100px;
	/*background-color: red;*/
}








